<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/style.css">
  <title>Stock Quotes</title>
</head>
<body>
  <div class=".table-container">
    <h1>Stocks table</h1>
    <table class="center-table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Short Name</th>
          <th>Sector</th>
          <th>Industry</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < quotes.length; i++) { %>
          <tr>
            <td><%= quotes[i].symbol %></td>
            <td><%= quotes[i].shortname %></td>
            <td><%= quotes[i].sector %></td>
            <td><%= quotes[i].industry %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  
  </div>
</body>
</html>
